body {
  background-color: lightcyan;
}

.result {
  display: flex;
  justify-content: center;
  font-size: 60px;
  margin-top: 50px;
  font-family: Helvetica;
}

.score-box {
  display: flex;
  justify-content: center;
}

.player-score-box,
.comp-score-box {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin: 30px;
  width: 300px;
  text-align: center;
  background-color: lightgrey;
  border-radius: 10px;
}

.score-text {
  font-size: 30px;
  font-weight: bold;
  font-family: Helvetica;
}

.player-score,
.comp-score {
  font-size: 40px;
  margin: 5px;
  font-weight: bold;
  font-family: Helvetica;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.button {
  margin: 30px;
  border-radius: 50%;
}

.button:hover {
  transform: scale(1.1);
}

.image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

#player-choice {
  border-radius: 20%;
}

#computer-choice {
  border-radius: 20%;
}
/* Modal, need to sort */

.modal-container {
  display: flex;
  justify-content: center;
}

.modal-result {
  border: 2px solid black;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  width: 600px;
  height: 300px;
  text-align: center;
  background-color: lightgray;
  position: absolute;
  z-index: 2;
}

.reset-btn {
  border-radius: 50%;
}

.reset-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.reset-btn:hover {
  transform: scale(1.1);
}

.modal-content {
  font-size: 30px;
  font-weight: bold;
  font-family: Helvetica;
}
