body {
  background-color: lightcyan;
}

.result {
  display: flex;
  justify-content: center;
  font-size: 60px;
  margin-top: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.score-box {
  display: flex;
  justify-content: center;
}

.player-score-box,
.comp-score-box {
  display: flex;
  flex-direction: column;
  margin: 30px;
  width: 300px;
  text-align: center;
  background-color: lightgrey;
  border-radius: 10px;
}

.score-text {
  font-size: 30px;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.player-score,
.comp-score {
  font-size: 40px;
  margin: 5px;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.button {
  margin: 30px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px black;
}

.button:hover {
  transform: scale(1.1);
}

.image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

#player-choice {
  border-radius: 20%;
}

#computer-choice {
  border-radius: 20%;
}

.modal-container {
  display: flex;
  justify-content: center;
}

.modal-result {
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  width: 600px;
  height: 300px;
  text-align: center;
  background: linear-gradient(45deg, #fcbf1e, #d42027);
  position: absolute;
  z-index: 2;
}

.reset-btn {
  border-radius: 50%;
}

.reset-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.reset-btn:hover {
  transform: scale(1.1);
}

.modal-content {
  font-size: 30px;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
